
.nav-menu li.active>a{
  color: #ecf0f1 !important;
  background-color: #00AEEF;

}
.nav-menu li a:hover{
  background-color: #00AEEF;
  color: #ecf0f1 !important;

}


.xs-header.header-style4 .xs-menus .nav-menu>li>a{
  padding: 15px 15px !important;
  border-radius: 10px;
  }

  .header-transparent{
    position: fixed;
  }

  .case-details-banner{
    margin-top: 83px;
  }

  /* scroll bar */

  body::-webkit-scrollbar {
      width: 0.7em;
  }

  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    outline: 1px solid slategrey;
    border-radius: 15px;
  }

  /* scroll bar end */
  .main-menu{
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  background-color: white;
  border-radius: 0 0 8px 8px;
  }

  .xs-footer-section .footer-top-area{
    background-color: rgba(0,0,0,0.8);
  }

  .xs-footer-section.footer-style3 .footer-bottom-area{
    background-color: #2d3436;
  }

  .footer-widget p{
    text-align: left;
  }

  .watermark-title{
    top: -70px !important;
  }

  .inner-banner-title{
    font-family: 'Rancho', cursive !important;
  }

  .dropdown-item{
    padding: 15px 15px !important;
    text-transform:
    
  }

  .menu__toggle::before{
    background-color: #2d3436 !important;
    opacity: .7;
  }

  .menu__nav{
    text-align: center;
  }

  .widget-title{
    font-size: 20px !important;
  }
  .xs-list li a{
    font-size: 16px !important;
  }

  .footer-logo-wraper{
    text-align: center;
  }
  .footer-client{
    padding: 20px;
  }

  .footer-logo img{
    width: 35%;
  }

  .footer-client-1 img{
    width: 100%;
  }

  .footer-client-1{
    text-align: center;
  }

  .footer-client-2 img{
    width: 100%;
  }

  .footer-client-2{
    text-align: center;
  }
